.controls__container {
  position: relative;
  top: 5px;

  .play, .pause {
    font-size: 38px;
    margin: 0 12px;
    cursor: pointer;
  }

  .previous, .next, .small-icon {
    font-size: 18px;
    margin: 0 12px;
    cursor: pointer;

    &.active {
      color: #1890ff;
    }
  }
}
