@import '../../shared/styles/variables';

.playerbar__container {
  height: $playerBarHeight;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #1c1c1c;
  border-top: 1px solid #222;
  z-index: 99;

  .playerbar__column {
    color: #fff;

    &.info {
      text-align: left;
    }

    &.controls {
      text-align: center;
    }

    &.volume {
      text-align: center;
      padding: 0 20px;
    }
  }
}
