.info__container {

  .cover {
    width: auto;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
  }

  .label {
    padding-left: 15px;
    display: inline-block;

    .title {
      font-size: 15px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .artist {
      font-size: 13px;
    }
  }
}
