.info__container {

  .cover {
    width: 50px;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
  }

  .label {
    padding-left: 15px;
    display: inline-block;

    .title {
      font-size: 18px;
    }

    .artist {
      font-size: 13px;
    }
  }
}
