@import '../../shared/styles/variables';

.navigation__container {
  width: 80px;
  height: calc(100vh - 100px);
  float: left;
  background: #001529;

  .logo {
    height: 60px;
    padding: 10px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
