@import '../../shared/styles/variables';

.navigation__container {
  width: 250px;
  height: calc(100vh - 100px);
  float: left;
  background: #001529;

  .logo {
    height: 62px;
    padding: 10px;
    text-align: center;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease all;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
