html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

.layout__root {
  width: 100vw;
  overflow: hidden;
  display: flex;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.clear {
  content: ' ';
  clear: both;
  width: 100%;
}

.mel-icon {
  position: relative;
  top: 1px;
}

.test {
  color: #fff !important;
  background-color: #9147ff !important;

  &:hover, &:active, &:focus {
    color: #fff !important;
    border-color: #000 !important;
  }
}
