html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

.layout__root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.clear {
  content: ' ';
  clear: both;
  width: 100%;
}
